In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [9]:
train= pd.read_excel("Data_Train.xlsx");
train.head(10)
##train.columns

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302
5,SpiceJet,24/06/2019,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873
6,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25 13 Mar,15h 30m,1 stop,In-flight meal not included,11087
7,Jet Airways,01/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05 02 Mar,21h 5m,1 stop,No info,22270
8,Jet Airways,12/03/2019,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25 13 Mar,25h 30m,1 stop,In-flight meal not included,11087
9,Multiple carriers,27/05/2019,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625

In [10]:
test= pd.read_excel("Test_Set.xlsx");
test.head(10)

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info
0,Jet Airways,6/06/2019,Delhi,Cochin,DEL → BOM → COK,17:30,04:25 07 Jun,10h 55m,1 stop,No info
1,IndiGo,12/05/2019,Kolkata,Banglore,CCU → MAA → BLR,06:20,10:20,4h,1 stop,No info
2,Jet Airways,21/05/2019,Delhi,Cochin,DEL → BOM → COK,19:15,19:00 22 May,23h 45m,1 stop,In-flight meal not included
3,Multiple carriers,21/05/2019,Delhi,Cochin,DEL → BOM → COK,08:00,21:00,13h,1 stop,No info
4,Air Asia,24/06/2019,Banglore,Delhi,BLR → DEL,23:55,02:45 25 Jun,2h 50m,non-stop,No info
5,Jet Airways,12/06/2019,Delhi,Cochin,DEL → BOM → COK,18:15,12:35 13 Jun,18h 20m,1 stop,In-flight meal not included
6,Air India,12/03/2019,Banglore,New Delhi,BLR → TRV → DEL,07:30,22:35,15h 5m,1 stop,No info
7,IndiGo,1/05/2019,Kolkata,Banglore,CCU → HYD → BLR,15:15,20:30,5h 15m,1 stop,No info
8,IndiGo,15/03/2019,Kolkata,Banglore,CCU → BLR,10:10,12:55,2h 45m,non-stop,No info
9,Jet Airways,18/05/2019,Kolkata,Banglore,CCU → BOM → BLR,16:30,22:35,6h 5m,1 stop,No info

In [11]:
final = train.append(test)

<ipython-input-11-8edece93015b>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final = train.append(test)

In [12]:
final.head()

,Airline,Date_of_Journey,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price
0,IndiGo,24/03/2019,Banglore,New Delhi,BLR → DEL,22:20,01:10 22 Mar,2h 50m,non-stop,No info,3897.0
1,Air India,1/05/2019,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0
2,Jet Airways,9/06/2019,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25 10 Jun,19h,2 stops,No info,13882.0
3,IndiGo,12/05/2019,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0
4,IndiGo,01/03/2019,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0

In [15]:
final.rows()

AttributeError: 'DataFrame' object has no attribute 'rows'

In [16]:
print(final)

                Airline Date_of_Journey    Source Destination  \
0                IndiGo      24/03/2019  Banglore   New Delhi
1             Air India       1/05/2019   Kolkata    Banglore
2           Jet Airways       9/06/2019     Delhi      Cochin
3                IndiGo      12/05/2019   Kolkata    Banglore
4                IndiGo      01/03/2019  Banglore   New Delhi
...                 ...             ...       ...         ...
2666          Air India       6/06/2019   Kolkata    Banglore
2667             IndiGo      27/03/2019   Kolkata    Banglore
2668        Jet Airways       6/03/2019     Delhi      Cochin
2669          Air India       6/03/2019     Delhi      Cochin
2670  Multiple carriers      15/06/2019     Delhi      Cochin

                      Route Dep_Time  Arrival_Time Duration Total_Stops  \
0                 BLR → DEL    22:20  01:10 22 Mar   2h 50m    non-stop
1     CCU → IXR → BBI → BLR    05:50         13:15   7h 25m     2 stops
2     DEL → LKO → BOM → COK    09:25  04:25 10 Jun      19h     2 stops
3           CCU → NAG → BLR    18:05         23:30   5h 25m      1 stop
4           BLR → NAG → DEL    16:50         21:35   4h 45m      1 stop
...                     ...      ...           ...      ...         ...
2666        CCU → DEL → BLR    20:30  20:25 07 Jun  23h 55m      1 stop
2667              CCU → BLR    14:20         16:55   2h 35m    non-stop
2668        DEL → BOM → COK    21:50  04:25 07 Mar   6h 35m      1 stop
2669        DEL → BOM → COK    04:00         19:15  15h 15m      1 stop
2670        DEL → BOM → COK    04:55         19:15  14h 20m      1 stop

     Additional_Info    Price
0            No info   3897.0
1            No info   7662.0
2            No info  13882.0
3            No info   6218.0
4            No info  13302.0
...              ...      ...
2666         No info      NaN
2667         No info      NaN
2668         No info      NaN
2669         No info      NaN
2670         No info      NaN

[13354 rows x 11 columns]

In [18]:
final["Date_of_Journey"].str.split('/').str[0]

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date_of_Journey, Length: 13354, dtype: object

In [19]:
final['Date'] = final["Date_of_Journey"].str.split('/').str[0]
final['Month'] = final["Date_of_Journey"].str.split('/').str[1]
final['Year'] = final["Date_of_Journey"].str.split('/').str[2]

In [21]:
print(final['Date'],final['Month'],final['Year'])

0       24
1        1
2        9
3       12
4       01
        ..
2666     6
2667    27
2668     6
2669     6
2670    15
Name: Date, Length: 13354, dtype: object 0       03
1       05
2       06
3       05
4       03
        ..
2666    06
2667    03
2668    03
2669    03
2670    06
Name: Month, Length: 13354, dtype: object 0       2019
1       2019
2       2019
3       2019
4       2019
        ...
2666    2019
2667    2019
2668    2019
2669    2019
2670    2019
Name: Year, Length: 13354, dtype: object

In [23]:
final['Date'] = final['Date'].astype(int)
final['Month'] = final['Month'].astype(int)
final['Year'] = final['Year'].astype(int)

In [24]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Date_of_Journey  13354 non-null  object
 2   Source           13354 non-null  object
 3   Destination      13354 non-null  object
 4   Route            13353 non-null  object
 5   Dep_Time         13354 non-null  object
 6   Arrival_Time     13354 non-null  object
 7   Duration         13354 non-null  object
 8   Total_Stops      13353 non-null  object
 9   Additional_Info  13354 non-null  object
 10  Price            10683 non-null  float64
 11  Date             13354 non-null  int32
 12  Month            13354 non-null  int32
 13  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(10)
memory usage: 1.4+ MB

In [27]:
final.desc

AttributeError: 'DataFrame' object has no attribute 'desc'

In [29]:
final.drop("Date_of_Journey",axis=1, inplace=True)

In [30]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 13 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
dtypes: float64(1), int32(3), object(9)
memory usage: 1.8+ MB

In [31]:
print(final)

                Airline    Source Destination                  Route Dep_Time  \
0                IndiGo  Banglore   New Delhi              BLR → DEL    22:20
1             Air India   Kolkata    Banglore  CCU → IXR → BBI → BLR    05:50
2           Jet Airways     Delhi      Cochin  DEL → LKO → BOM → COK    09:25
3                IndiGo   Kolkata    Banglore        CCU → NAG → BLR    18:05
4                IndiGo  Banglore   New Delhi        BLR → NAG → DEL    16:50
...                 ...       ...         ...                    ...      ...
2666          Air India   Kolkata    Banglore        CCU → DEL → BLR    20:30
2667             IndiGo   Kolkata    Banglore              CCU → BLR    14:20
2668        Jet Airways     Delhi      Cochin        DEL → BOM → COK    21:50
2669          Air India     Delhi      Cochin        DEL → BOM → COK    04:00
2670  Multiple carriers     Delhi      Cochin        DEL → BOM → COK    04:55

      Arrival_Time Duration Total_Stops Additional_Info    Price  Date  Month  \
0     01:10 22 Mar   2h 50m    non-stop         No info   3897.0    24      3
1            13:15   7h 25m     2 stops         No info   7662.0     1      5
2     04:25 10 Jun      19h     2 stops         No info  13882.0     9      6
3            23:30   5h 25m      1 stop         No info   6218.0    12      5
4            21:35   4h 45m      1 stop         No info  13302.0     1      3
...            ...      ...         ...             ...      ...   ...    ...
2666  20:25 07 Jun  23h 55m      1 stop         No info      NaN     6      6
2667         16:55   2h 35m    non-stop         No info      NaN    27      3
2668  04:25 07 Mar   6h 35m      1 stop         No info      NaN     6      3
2669         19:15  15h 15m      1 stop         No info      NaN     6      3
2670         19:15  14h 20m      1 stop         No info      NaN    15      6

      Year
0     2019
1     2019
2     2019
3     2019
4     2019
...    ...
2666  2019
2667  2019
2668  2019
2669  2019
2670  2019

[13354 rows x 13 columns]

In [35]:
final['Arrival_Time'] = final['Arrival_Time'].apply(lambda x : x.split(' ').[0])
print(final['Arrival_Time'])

0       01:10
1       13:15
2       04:25
3       23:30
4       21:35
        ...
2666    20:25
2667    16:55
2668    04:25
2669    19:15
2670    19:15
Name: Arrival_Time, Length: 13354, dtype: object

In [37]:
final.isnull().sum()

Airline               0
Source                0
Destination           0
Route                 1
Dep_Time              0
Arrival_Time          0
Duration              0
Total_Stops           1
Additional_Info       0
Price              2671
Date                  0
Month                 0
Year                  0
dtype: int64

In [38]:
final['Arrival_hour']= final['Arrival_Time'].apply(lambda x:int(x.split(':')[0]))
final['Arrival_time']= final['Arrival_Time'].apply(lambda x:int(x.split(':')[1]))

In [40]:
print(final['Arrival_time'])

0       10
1       15
2       25
3       30
4       35
        ..
2666    25
2667    55
2668    25
2669    15
2670    15
Name: Arrival_time, Length: 13354, dtype: int64

In [41]:
final.head(19)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,4,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0,24,6,2019,11,25
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05,21h 5m,1 stop,No info,22270.0,1,3,2019,5,5
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625.0,27,5,2019,19,15
10,Air India,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907.0,1,6,2019,23,0
11,IndiGo,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,non-stop,No info,4174.0,18,4,2019,22,55
12,Air India,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667.0,24,6,2019,13,55
13,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20,12h 10m,1 stop,In-flight meal not included,9663.0,9,5,2019,9,20
14,IndiGo,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,non-stop,No info,4804.0,24,4,2019,19,50
15,Air India,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15,26h 35m,2 stops,No info,14011.0,3,3,2019,19,15
16,SpiceJet,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1 stop,No info,5830.0,15,4,2019,13,15
17,Jet Airways,Delhi,Cochin,DEL → BOM → COK,14:00,12:35,22h 35m,1 stop,In-flight meal not included,10262.0,12,6,2019,12,35
18,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15,23h,2 stops,No info,13381.0,12,6,2019,19,15

In [43]:
final['Dept_Time'] = final['Dep_Time'].apply(lambda x : x.split(' ')[0])

In [44]:
final['Dept_Hour']= final['Dept_Time'].apply(lambda x:int(x.split(':')[0]))
final['Dept_Minute']= final['Dept_Time'].apply(lambda x:int(x.split(':')[1]))

In [45]:
final.head(28)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,non-stop,No info,3897.0,24,3,2019,1,10,22:20,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2 stops,No info,7662.0,1,5,2019,13,15,05:50,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2 stops,No info,13882.0,9,6,2019,4,25,09:25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1 stop,No info,6218.0,12,5,2019,23,30,18:05,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1 stop,No info,13302.0,1,3,2019,21,35,16:50,16,50
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,non-stop,No info,3873.0,24,6,2019,11,25,09:00,9,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25,15h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,18:55,18,55
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05,21h 5m,1 stop,No info,22270.0,1,3,2019,5,5,08:00,8,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25,25h 30m,1 stop,In-flight meal not included,11087.0,12,3,2019,10,25,08:55,8,55
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1 stop,No info,8625.0,27,5,2019,19,15,11:25,11,25
10,Air India,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1 stop,No info,8907.0,1,6,2019,23,0,09:45,9,45
11,IndiGo,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,non-stop,No info,4174.0,18,4,2019,22,55,20:20,20,20
12,Air India,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,non-stop,No info,4667.0,24,6,2019,13,55,11:40,11,40
13,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20,12h 10m,1 stop,In-flight meal not included,9663.0,9,5,2019,9,20,21:10,21,10
14,IndiGo,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,non-stop,No info,4804.0,24,4,2019,19,50,17:15,17,15
15,Air India,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15,26h 35m,2 stops,No info,14011.0,3,3,2019,19,15,16:40,16,40
16,SpiceJet,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1 stop,No info,5830.0,15,4,2019,13,15,08:45,8,45
17,Jet Airways,Delhi,Cochin,DEL → BOM → COK,14:00,12:35,22h 35m,1 stop,In-flight meal not included,10262.0,12,6,2019,12,35,14:00,14,0
18,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15,23h,2 stops,No info,13381.0,12,6,2019,19,15,20:15,20,15
19,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,12:35,20h 35m,1 stop,In-flight meal not included,12898.0,27,5,2019,12,35,16:00,16,0
20,GoAir,Delhi,Cochin,DEL → BOM → COK,14:10,19:20,5h 10m,1 stop,No info,19495.0,6,3,2019,19,20,14:10,14,10
21,Air India,Banglore,New Delhi,BLR → COK → DEL,22:00,13:20,15h 20m,1 stop,No info,6955.0,21,3,2019,13,20,22:00,22,0
22,IndiGo,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,non-stop,No info,3943.0,3,4,2019,6,50,04:00,4,0
23,IndiGo,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,non-stop,No info,4823.0,1,5,2019,21,50,18:55,18,55
24,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,18:55,08:15,13h 20m,1 stop,In-flight meal not included,7757.0,6,5,2019,8,15,18:55,18,55
25,Jet Airways,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,12:35,15h 10m,2 stops,No info,13292.0,9,6,2019,12,35,21:25,21,25
26,IndiGo,Delhi,Cochin,DEL → LKO → COK,21:50,03:35,5h 45m,1 stop,No info,8238.0,1,6,2019,3,35,21:50,21,50
27,GoAir,Delhi,Cochin,DEL → BOM → COK,07:00,12:55,5h 55m,1 stop,No info,7682.0,15,5,2019,12,55,07:00,7,0

In [46]:
final.info(
)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13354 entries, 0 to 2670
Data columns (total 18 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13354 non-null  object
 1   Source           13354 non-null  object
 2   Destination      13354 non-null  object
 3   Route            13353 non-null  object
 4   Dep_Time         13354 non-null  object
 5   Arrival_Time     13354 non-null  object
 6   Duration         13354 non-null  object
 7   Total_Stops      13353 non-null  object
 8   Additional_Info  13354 non-null  object
 9   Price            10683 non-null  float64
 10  Date             13354 non-null  int32
 11  Month            13354 non-null  int32
 12  Year             13354 non-null  int32
 13  Arrival_hour     13354 non-null  int64
 14  Arrival_time     13354 non-null  int64
 15  Dept_Time        13354 non-null  object
 16  Dept_Hour        13354 non-null  int64
 17  Dept_Minute      13354 non-null  int64
dtypes: float64(1), int32(3), int64(4), object(10)
memory usage: 2.3+ MB

In [47]:
final['Total_Stops']=final['Total_Stops'].map({'non-stop':0,'1 stop':1,'2 stops':2,'3 stops':3,'4 stops':4,'nan':1})

In [48]:
final.head(30)

,Airline,Source,Destination,Route,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute
0,IndiGo,Banglore,New Delhi,BLR → DEL,22:20,01:10,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22:20,22,20
1,Air India,Kolkata,Banglore,CCU → IXR → BBI → BLR,05:50,13:15,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,05:50,5,50
2,Jet Airways,Delhi,Cochin,DEL → LKO → BOM → COK,09:25,04:25,19h,2.0,No info,13882.0,9,6,2019,4,25,09:25,9,25
3,IndiGo,Kolkata,Banglore,CCU → NAG → BLR,18:05,23:30,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18:05,18,5
4,IndiGo,Banglore,New Delhi,BLR → NAG → DEL,16:50,21:35,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16:50,16,50
5,SpiceJet,Kolkata,Banglore,CCU → BLR,09:00,11:25,2h 25m,0.0,No info,3873.0,24,6,2019,11,25,09:00,9,0
6,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,18:55,10:25,15h 30m,1.0,In-flight meal not included,11087.0,12,3,2019,10,25,18:55,18,55
7,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:00,05:05,21h 5m,1.0,No info,22270.0,1,3,2019,5,5,08:00,8,0
8,Jet Airways,Banglore,New Delhi,BLR → BOM → DEL,08:55,10:25,25h 30m,1.0,In-flight meal not included,11087.0,12,3,2019,10,25,08:55,8,55
9,Multiple carriers,Delhi,Cochin,DEL → BOM → COK,11:25,19:15,7h 50m,1.0,No info,8625.0,27,5,2019,19,15,11:25,11,25
10,Air India,Delhi,Cochin,DEL → BLR → COK,09:45,23:00,13h 15m,1.0,No info,8907.0,1,6,2019,23,0,09:45,9,45
11,IndiGo,Kolkata,Banglore,CCU → BLR,20:20,22:55,2h 35m,0.0,No info,4174.0,18,4,2019,22,55,20:20,20,20
12,Air India,Chennai,Kolkata,MAA → CCU,11:40,13:55,2h 15m,0.0,No info,4667.0,24,6,2019,13,55,11:40,11,40
13,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,21:10,09:20,12h 10m,1.0,In-flight meal not included,9663.0,9,5,2019,9,20,21:10,21,10
14,IndiGo,Kolkata,Banglore,CCU → BLR,17:15,19:50,2h 35m,0.0,No info,4804.0,24,4,2019,19,50,17:15,17,15
15,Air India,Delhi,Cochin,DEL → AMD → BOM → COK,16:40,19:15,26h 35m,2.0,No info,14011.0,3,3,2019,19,15,16:40,16,40
16,SpiceJet,Delhi,Cochin,DEL → PNQ → COK,08:45,13:15,4h 30m,1.0,No info,5830.0,15,4,2019,13,15,08:45,8,45
17,Jet Airways,Delhi,Cochin,DEL → BOM → COK,14:00,12:35,22h 35m,1.0,In-flight meal not included,10262.0,12,6,2019,12,35,14:00,14,0
18,Air India,Delhi,Cochin,DEL → CCU → BOM → COK,20:15,19:15,23h,2.0,No info,13381.0,12,6,2019,19,15,20:15,20,15
19,Jet Airways,Delhi,Cochin,DEL → BOM → COK,16:00,12:35,20h 35m,1.0,In-flight meal not included,12898.0,27,5,2019,12,35,16:00,16,0
20,GoAir,Delhi,Cochin,DEL → BOM → COK,14:10,19:20,5h 10m,1.0,No info,19495.0,6,3,2019,19,20,14:10,14,10
21,Air India,Banglore,New Delhi,BLR → COK → DEL,22:00,13:20,15h 20m,1.0,No info,6955.0,21,3,2019,13,20,22:00,22,0
22,IndiGo,Banglore,Delhi,BLR → DEL,04:00,06:50,2h 50m,0.0,No info,3943.0,3,4,2019,6,50,04:00,4,0
23,IndiGo,Banglore,Delhi,BLR → DEL,18:55,21:50,2h 55m,0.0,No info,4823.0,1,5,2019,21,50,18:55,18,55
24,Jet Airways,Kolkata,Banglore,CCU → BOM → BLR,18:55,08:15,13h 20m,1.0,In-flight meal not included,7757.0,6,5,2019,8,15,18:55,18,55
25,Jet Airways,Delhi,Cochin,DEL → IDR → BOM → COK,21:25,12:35,15h 10m,2.0,No info,13292.0,9,6,2019,12,35,21:25,21,25
26,IndiGo,Delhi,Cochin,DEL → LKO → COK,21:50,03:35,5h 45m,1.0,No info,8238.0,1,6,2019,3,35,21:50,21,50
27,GoAir,Delhi,Cochin,DEL → BOM → COK,07:00,12:55,5h 55m,1.0,No info,7682.0,15,5,2019,12,55,07:00,7,0
28,Vistara,Banglore,Delhi,BLR → DEL,09:45,12:35,2h 50m,0.0,No info,4668.0,18,6,2019,12,35,09:45,9,45
29,Vistara,Chennai,Kolkata,MAA → CCU,07:05,09:20,2h 15m,0.0,No info,3687.0,15,6,2019,9,20,07:05,7,5

In [50]:
final.drop('Route',axis=1,inplace=True)

In [51]:
final.head(10)

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute
0,IndiGo,Banglore,New Delhi,22:20,01:10,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22:20,22,20
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,05:50,5,50
2,Jet Airways,Delhi,Cochin,09:25,04:25,19h,2.0,No info,13882.0,9,6,2019,4,25,09:25,9,25
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18:05,18,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16:50,16,50
5,SpiceJet,Kolkata,Banglore,09:00,11:25,2h 25m,0.0,No info,3873.0,24,6,2019,11,25,09:00,9,0
6,Jet Airways,Banglore,New Delhi,18:55,10:25,15h 30m,1.0,In-flight meal not included,11087.0,12,3,2019,10,25,18:55,18,55
7,Jet Airways,Banglore,New Delhi,08:00,05:05,21h 5m,1.0,No info,22270.0,1,3,2019,5,5,08:00,8,0
8,Jet Airways,Banglore,New Delhi,08:55,10:25,25h 30m,1.0,In-flight meal not included,11087.0,12,3,2019,10,25,08:55,8,55
9,Multiple carriers,Delhi,Cochin,11:25,19:15,7h 50m,1.0,No info,8625.0,27,5,2019,19,15,11:25,11,25

In [53]:
final['duration_hour']=final['Duration'].str.split(' ').str[0].str.split('h').str[0]

In [54]:
final.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Duration,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute,duration_hour
0,IndiGo,Banglore,New Delhi,22:20,01:10,2h 50m,0.0,No info,3897.0,24,3,2019,1,10,22:20,22,20,2
1,Air India,Kolkata,Banglore,05:50,13:15,7h 25m,2.0,No info,7662.0,1,5,2019,13,15,05:50,5,50,7
2,Jet Airways,Delhi,Cochin,09:25,04:25,19h,2.0,No info,13882.0,9,6,2019,4,25,09:25,9,25,19
3,IndiGo,Kolkata,Banglore,18:05,23:30,5h 25m,1.0,No info,6218.0,12,5,2019,23,30,18:05,18,5,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,4h 45m,1.0,No info,13302.0,1,3,2019,21,35,16:50,16,50,4

In [68]:
final.drop(6474,axis=0,inplace=True)

In [69]:
final.drop(2660,axis=0,inplace=True)

In [70]:
final[final['duration_hour']=='5m']

Empty DataFrame
Columns: [Airline, Source, Destination, Dep_Time, Arrival_Time, Duration, Total_Stops, Additional_Info, Price, Date, Month, Year, Arrival_hour, Arrival_time, Dept_Time, Dept_Hour, Dept_Minute, duration_hour]
Index: []

In [71]:
final['duration_hour']=final['duration_hour'].astype('int')

In [72]:
final.drop("Duration",axis=1,inplace=True)

In [73]:
final.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13351 entries, 0 to 2670
Data columns (total 17 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Airline          13351 non-null  object
 1   Source           13351 non-null  object
 2   Destination      13351 non-null  object
 3   Dep_Time         13351 non-null  object
 4   Arrival_Time     13351 non-null  object
 5   Total_Stops      13350 non-null  float64
 6   Additional_Info  13351 non-null  object
 7   Price            10681 non-null  float64
 8   Date             13351 non-null  int32
 9   Month            13351 non-null  int32
 10  Year             13351 non-null  int32
 11  Arrival_hour     13351 non-null  int64
 12  Arrival_time     13351 non-null  int64
 13  Dept_Time        13351 non-null  object
 14  Dept_Hour        13351 non-null  int64
 15  Dept_Minute      13351 non-null  int64
 16  duration_hour    13351 non-null  int32
dtypes: float64(2), int32(4), int64(4), object(7)
memory usage: 1.6+ MB

In [74]:
final['Airline'].unique()

array(['IndiGo', 'Air India', 'Jet Airways', 'SpiceJet',
       'Multiple carriers', 'GoAir', 'Vistara', 'Air Asia',
       'Vistara Premium economy', 'Jet Airways Business',
       'Multiple carriers Premium economy', 'Trujet'], dtype=object)

In [80]:
from sklearn.preprocessing import LabelEncoder
labelencoder=LabelEncoder()

In [77]:
final.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute,duration_hour
0,IndiGo,Banglore,New Delhi,22:20,01:10,0.0,No info,3897.0,24,3,2019,1,10,22:20,22,20,2
1,Air India,Kolkata,Banglore,05:50,13:15,2.0,No info,7662.0,1,5,2019,13,15,05:50,5,50,7
2,Jet Airways,Delhi,Cochin,09:25,04:25,2.0,No info,13882.0,9,6,2019,4,25,09:25,9,25,19
3,IndiGo,Kolkata,Banglore,18:05,23:30,1.0,No info,6218.0,12,5,2019,23,30,18:05,18,5,5
4,IndiGo,Banglore,New Delhi,16:50,21:35,1.0,No info,13302.0,1,3,2019,21,35,16:50,16,50,4

In [81]:
final['Airline']=labelencoder.fit_transform(final['Airline'])

In [82]:
final.head()

,Airline,Source,Destination,Dep_Time,Arrival_Time,Total_Stops,Additional_Info,Price,Date,Month,Year,Arrival_hour,Arrival_time,Dept_Time,Dept_Hour,Dept_Minute,duration_hour
0,3,Banglore,New Delhi,22:20,01:10,0.0,No info,3897.0,24,3,2019,1,10,22:20,22,20,2
1,1,Kolkata,Banglore,05:50,13:15,2.0,No info,7662.0,1,5,2019,13,15,05:50,5,50,7
2,4,Delhi,Cochin,09:25,04:25,2.0,No info,13882.0,9,6,2019,4,25,09:25,9,25,19
3,3,Kolkata,Banglore,18:05,23:30,1.0,No info,6218.0,12,5,2019,23,30,18:05,18,5,5
4,3,Banglore,New Delhi,16:50,21:35,1.0,No info,13302.0,1,3,2019,21,35,16:50,16,50,4

In [83]:
from sklearn.preprocessing import OneHotEncoder
ohe=OneHotEncoder()

In [84]:
final['Source']=ohe.fit_transform(final['Source'])

ValueError: Expected 2D array, got 1D array instead:
array=['Banglore' 'Kolkata' 'Delhi' ... 'Delhi' 'Delhi' 'Delhi'].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [85]:
final['Airline']

0       3
1       1
2       4
3       3
4       3
       ..
2666    1
2667    3
2668    4
2669    1
2670    6
Name: Airline, Length: 13351, dtype: int32

In [86]:
ohe.fit_transform(final[['Airline']])

<13351x12 sparse matrix of type '<class 'numpy.float64'>'
	with 13351 stored elements in Compressed Sparse Row format>